body{
    margin: 0;
    padding: 0;
}
img{
    width: 250px;
 }
.cards{
    display :flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;   
}
.card{
    width: 250px;
    box-shadow: 0 4px 8px 0 rgb(157, 147, 130);
    margin:20px;
    display: flex;
    flex-direction: column;
    height: 420px;
}
.card:hover{
    box-shadow: 0 4px 8px 0 #000;
}
button{
    background-color: rgb(84, 80, 70);
    border: none;
    color: rgb(224, 222, 222);
    padding: 10px 10px;
    margin: 0 15px 15px 15px;
    font-size: 10px
}
.cards > span{
    width: 250px;
    margin:20px;
    } 
.card > span{
    flex-grow: 1;
    width: 250px;
}
p,h3{
    flex-shrink: 0;
    flex-basis: 0;
    padding: 0 20px;
}


